ACCESS_CODE=
COOKIE_SECRET=
POSTGRES_PASSWORD=
FORGEJO_DOMAIN=git.example.com
FORGEJO_SSH_DOMAIN=ssh.git.example.com
FORGEJO_SECRET_KEY=
FORGEJO_INTERNAL_TOKEN=
USER_UID=1000
USER_GID=1000
FORGEJO_INITIAL_ADMIN_PASSWORD=
