use flake

dotenv_if_exists .env

: "${ACCESS_CODE:?ACCESS_CODE is required}"
: "${COOKIE_SECRET:?COOKIE_SECRET is required}"
: "${POSTGRES_PASSWORD:?POSTGRES_PASSWORD is required}"
: "${FORGEJO_DOMAIN:?FORGEJO_DOMAIN is required}"
: "${FORGEJO_SECRET_KEY:?FORGEJO_SECRET_KEY is required}"
: "${FORGEJO_INTERNAL_TOKEN:?FORGEJO_INTERNAL_TOKEN is required}"
